# =========================
# Core Python & Utilities
# =========================
numpy>=1.23.0
pandas>=1.5.0
scipy>=1.9.0
pathlib>=1.0.1

# =========================
# Visualization & EDA
# =========================
matplotlib>=3.6.0
seaborn>=0.12.0

# =========================
# Machine Learning
# =========================
scikit-learn>=1.2.0
joblib>=1.2.0

# =========================
# Explainability
# =========================
shap>=0.42.0

# =========================
# API (for upcoming step)
# =========================
fastapi>=0.100.0
uvicorn>=0.22.0

# =========================
# Testing
# =========================
pytest>=7.2.0

# =========================
# Configuration & Utilities
# =========================
PyYAML==6.0.1
tqdm>=4.65.0

# =========================
# Optional (MLOps – future steps)
# =========================
mlflow>=2.6.0
